:root {
    --primaryColor: #454360;
    --secondaryColor: #FFD15C;
    --tertiaryColor: #FF4C60;
    --backgroundColor: #353353;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F9FF;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

/*Utils*/

.container {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 55%;
    }
}

.fw-bold {
    font-weight: bold;
}

.section {
    margin-top: 100px;
}

.section__title {
    color: var(--primaryColor);
    font-size: 2.5rem;
}

/* Header */

.header {
    background-color: var(--backgroundColor);
    height: 70vh;
}

@media (min-width: 768px) {
    .header {
        height: 100vh;
        overflow: hidden;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.navbar__brand {
    color: #FFFFFF;
    font-size: 2rem;
}

.navbar__brand span {
    color: var(--tertiaryColor);
}

.navbar__item {
    color: #FFFFFF;
    font-size: 1rem;
    margin-right: 35px;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
}

.navbar__item:last-child {
    margin-right: 0px;
}

.navbar__item:hover {
    color: var(--secondaryColor);
}

.copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 78px);
}

@media (min-width: 768px) {
    .copy {     
        border-top: 1px solid white;
    }
}

.copy__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.copy__title {
    margin-top: 15px;
    font-size: 2rem;
}

.copy__subtitle {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: normal;
}

.copy__social {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.copy__icon {
    font-size: 1.5rem;
    color: #FFFFFF;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
}

.copy__icon:hover {
    color: var(--secondaryColor);
}

/* About */

.about {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__box {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 20px 9px rgba(228,228,242,1);
    -moz-box-shadow: 0px 0px 20px 9px rgba(228,228,242,1);
    box-shadow: 0px 0px 20px 9px rgba(228,228,242,1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about__desc {
    font-size: 1rem;
    color: #5E5C7F;
    line-height: 1.7;
}

.about__abilities h4{
    color: var(--primaryColor);
    font-size: 1.4rem;
    text-align: center;
    margin: 20px 0;
}

.about__abilities {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.about__abilities h4{
    grid-column: 1 / span 5;
}

.icon-1 {
    grid-column: 1;
    grid-row: 2;
    place-self: center;
}
.icon-2 {
    grid-column: 3;
    grid-row: 2;
    place-self: center;
}
.icon-3 {
    grid-column: 5;
    grid-row: 2;
    place-self: center;
}
.icon-4 {
    grid-column: 2;
    grid-row: 3;
    place-self: center;
}
.icon-5 {
    grid-column: 4;
    grid-row: 3;
    place-self: center;
}